.twTextHapen{
    color: #FFFFFF;
    font-size: 5rem;
    letter-spacing: 0.9rem;
    white-space: inherit;
    overflow-wrap: break-word;

}
.btnRegister{
    background-color: rgb(74, 31, 245);
    width: 4vw;
    padding: 2rem;
}
.MuiPaper-root .MuiDialog-paper
{
   
    color: #FFFFFF;
    height:60%;
    width: auto;
    max-width: 75%;
    min-width: 20%;
    top:5vh;
}
.MuiButtonBase-root .MuiIconButton-root
{
    color: #FFFFFF;
    height:4vh;
    width: 2vw;
}

.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }
  .btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }
  .third {
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;
  }
  .third:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  }  

  .logInDiv{
    position: relative;
    top:10vh;
   
  }
  .MuiTypography-root{
    letter-spacing: 0.9rem;
  }
  .logInForm{
    position: absolute;
    justify-content: center;
    width: 15vw;
    margin: auto;

  }
  .logInButton{
    width: 100%;
    justify-content: center;
  }
