::-webkit-scrollbar-track {
	background: linear-gradient(to right, #000000, #434343);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: linear-gradient(to right, #11998e, #38ef7d);

	border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
}
body {
  margin: 0;
  
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
